<body class="body">
  <div class="container">
    <div class="today"></div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
        <div class="add-control">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="✍️ Add item..." />
            <i class="fa fa-plus form-control-feedback add-btn" title="Add item"></i>
          </div>
        </div>
        <p class="err text-danger text-center hidden"><i class="fa fa-warning"></i> Oops! Please, enter name item</p>
        <p class="no-items text-muted text-center hidden"><i class="fa fa-ban"></i></p>
        <ul class="todo-list">
          <li data-id="O1659477536030" class="">
            <div class="checkbox"><span class="close"><i class="fa fa-times"></i></span><label><span
                  class="checkbox-mask"></span><input type="checkbox">This site uses 🍪to keep track of your
                tasks</label></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>